<p/>
<a href="/create">Create a private key</a>

<p/>
<form action="/doGet" method="GET">
Private Key <input type="text" name="prik"/> <p/>
<input type="submit" name="cmd" value="toPrikComp"/>
<input type="submit" name="cmd" value="toPrikWif"/>
<input type="submit" name="cmd" value="toPubk"/>
<input type="submit" name="cmd" value="toPubkComp"/>
<input type="submit" name="cmd" value="toPubkHash"/>
<input type="submit" name="cmd" value="toAddr"/>
<input type="submit" name="cmd" value="toAddrComp"/>
</form>
